div p{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    width:20%;
    text-align: center;
    margin:auto;
    color:white;
    margin-bottom: 10px;
    margin-top:-10px;
    font-family: 'Permanent Marker', cursive;

}